.heading {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    /*  Internal structure is driven by HTML tags in nested CSS.
        Use the flat structure with CSS modules where class nesting is not supported */
    h1 {
        font-size: 3rem;
        font-weight: 500;
        letter-spacing: -0.025em;
        line-height: 1;
        flex: 1;
        background: linear-gradient(135deg, #764ba2 0%, #667eea 100%);
  /* clip background to the glyphs */
  -webkit-background-clip: text;
  background-clip: text;
  /* make the glyphs transparent so the bg shows through */
  -webkit-text-fill-color: transparent; /* Safari/Chrome */
  color: transparent;
    }

    b {
        @media (max-width: 900px) {
            display: none; /* hide the Language label on small screens */
        }
    }
}

