.heading {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;

    .lang-selector-label {
        color: red;
        @media (max-width: 900px) {
            & {
                display: none; /* hide the Language label on small screens */
            }
        }
    }

    h1 {
        font-size: 3rem;
        font-weight: 500;
        letter-spacing: -0.025em;
        line-height: 1;
    }
}